.hideAll{
    position: absolute;
   left: 0px;  
   top: 0px; 
    height:100%;
    width:100%;
   background-color: black;
   overflow:hidden;
    z-index:1000;
    text-align:center;
}

.loader{
    border: 14px solid black;
    border-top: 14px solid red;
    border-bottom: 14px solid red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position:fixed;
    top: 50%;
    left: 50%;
     margin:-60px;
}

.hide{
    display:none;
    border:none;
}

.border{
   border:none;  
}