
.results-section{
    padding:5% 0 10%;
    @include mobile-landscape{
        padding:5% 0;}
    @include desctop{
        height:100%;
        padding:0;
        padding-bottom:8%;
    }
    &__title{
        padding:5%;
        padding-bottom:3%;
        font-size:2em;
        font-family: 'Chelsea Market', cursive;
        @include mobile-landscape{
            padding:3%;
            padding-bottom:1%;
        }
        @include small-tablet-portrait{
            font-size:3.2em;   
        }
        @include large-tablet-portrait{
            font-size:3.8em;
        }
        @include small-tablet-landscape{ 
            font-size:2.4em;
        }
        @include large-tablet-landscape{ 
            font-size:3em;
        }
         @include desctop{
              padding-bottom:2%;
             } 
    }
    &__result{
        font-size:3.8em;
        padding:2%;
        width:70vw;
        margin:0 auto;
        border-bottom:3px solid white;
        color:#ff0000;
        @include mobile-landscape{
            padding-top:0;
        }
        @include small-tablet-portrait{
            font-size:5em;
            border-bottom-width:4px;
        }
        @include large-tablet-portrait{
            font-size:6em;
            border-bottom-width:6px;
        }
        @include small-tablet-landscape{ 
             font-size:4em;
             border-bottom-width: 4px;
             margin-bottom:2%;
             padding-top:1.5%;
     }
        @include desctop{
              padding:1%;
              margin-bottom:0;
             } 
        }
    &__wrapper-results{
        @include mobile-landscape{
            display:flex;
            width:100%;
            margin-top:5%;
            padding:2%;
            padding-top:0;
        }}
    &__paragraph{
        padding:3%;
        font-size:1.45em;
        padding-top:1%;
        @include small-mobile{
            padding-bottom:0;
            font-size:1.3em;
        }
        @include mobile-landscape{
            width:50vw;
            font-size:1.4em;
            padding-top:0;
        }
        @include small-tablet-portrait{
            font-size:2.4em;
        }   
        @include large-tablet-portrait{
            font-size:2.8em;
        }
        @include small-tablet-landscape{ 
            font-size:1.6em;
        }
        @include large-tablet-landscape{ 
            font-size:2.2em;
         }
        @include desctop{
           font-size:2em;
        }
        &::after {
            width: 35%;
            border-bottom: 3px solid red;
            content: "";
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 4%;
            @include mobile-landscape{
                padding-top:6%;
                border-width:2px;
            }
            @include small-tablet-portrait{
                border-width:3px;
            }
            @include small-tablet-landscape{
                border-width:3px;
            }
            }
        &--first{
            padding-top:10%;
            @include mobile-landscape{
                padding-top:5%;
            }
            @include large-tablet-landscape{
                padding-top:8%;
            }
            @include desctop{
                padding-top:4%;
            }
        }
        &--last::after{
            content:none;
        }
        &--advice{
            padding:4% 9%;
            margin-top:8%;
            margin-left:auto;
            margin-right:auto;
            border-radius:10px;
            font-size:1.4em;
            color:red;
            background: rgba(0, 0, 0, 0.6);
            &::after{
                content:none;
            }
            @include mobile-landscape{
                width:50%;
                font-size:1.2em;
                overflow:hidden;
                color:#ff0000;
                margin-top:0;
                padding:2% 0;
            }
            @include small-tablet-portrait{
                font-size:2.2em;
                }
            @include large-tablet-portrait{
                font-size:2.6em;
                }
            @include small-tablet-landscape{
                font-size:1.6em;
             }
            @include large-tablet-landscape{
                font-size:2em;
             }
            @include desctop{
                 font-size:1.8em;
                 width:40vw;
                 line-height:135%;
                 margin:0;
             }
             }          
}


}

